#submit-for-edit-a-comment{
    border: none;
        cursor: pointer;
        appearance: none;
        background-color: inherit;
    }

    .edit-event-modal-base{
        display:flex;
        flex-direction:column;
        align-items: center;
      justify-content: center;
      padding:20px;
      background-color: black;

    }
    .edit-event-form{
        display:flex;
        flex-direction:column;
        align-items: center;
      justify-content: center;
      padding:20px;
    }
