#submit-for-edit-a-comment{
    border: none;
        cursor: pointer;
        appearance: none;
        background-color: inherit;
    }
.edit-comment-modal-base{
    position:relative;
    z-index: 2000 !important;
    padding:30px;
}
