#profile-image-on-profile-detail-page{
    width:200px;
    height:200px;
}
.user-profile-detail-information{
    border:solid chocolate;
}
#online-offline-user-icon{
    width:12px;
    height:12px;
}
