#map {
    height: 200px; /* The height is 400 pixels */
    width: 70%; /* The width is the width of the web page */
    padding:40px;
    background-color: yellow;
}
.map-container{
    display:flex;
    flex-direction: column;
    height:500px;
    background-color: aqua;

}
.input-maps{
    height: 40px;
    width:100px;
    padding: 30px;
    background-color: red;

}
